body {
  font-family: sans-serif;
  color: whitesmoke;
}

.fukgak-container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  background: linear-gradient(0deg, #ec22c7 0%, #cfe9ec 100%);
}

.brand-image {
  display: block;
  width: 1000px;
  height: auto;
  margin: 2em auto 2em auto;
  opacity: 1;
  transition: opacity ease-in 500ms;
  transition-delay: 500ms;
}

.brand-image.hidden {
  opacity: 0;
  transition: opacity ease-out 500ms;
}

.video-wrapper {
  width: 60dvw;
  height: auto;
  margin: 0 auto;
  opacity: 1;
  transition-delay: 2000ms;
  transition: opacity ease-in 1000ms;
}

.video-wrapper.hidden {
  opacity: 0;
  transition: opacity ease-out 1000ms;
}

#regular-johnsons {
  padding: 3em;
  background: rgb(26, 206, 237);
  color: #222222;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 3px solid teal;
  border-radius: 3px;
  opacity: 0;
  transition: opacity ease-out 500ms;
}

#regular-johnsons[open] {
  opacity: 1;
  transition: opacity ease-in 500ms;
}


#regular-johnsons button {
  cursor: pointer;
  padding: 1em;
  margin: 0 2em;
  background: linear-gradient(0deg, #ec22c7 0%, #cfe9ec 100%);
  color: #222222;
  font-weight: bold;
  font-size: 16px;
  border: 3px solid teal;
  border-radius: 3px;
  box-shadow: 0 5px 0 1px #222222;
  transform: translateY(0);
  transition: all ease-out 100ms;
}

#regular-johnsons button:hover,
#regular-johnsons button:active {
  cursor: pointer;
  box-shadow: 0 0 0 0 #222222;
  transform: translateY(5px);
  transition: all ease-in 100ms;
}

#regular-johnsons p {
  font-size: 20px;
  font-weight: bold;
}

#regular-johnsons form {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 1em auto 2em auto;
}

::backdrop {
  background: #222222;
  opacity: 0.9;
}
